.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 32%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(109,110,116,1) 55%, rgba(0,0,0,1) 100%);
  }
  
  .navitem {
      font-family:'Maven Pro';
      padding-left: 30%;
      padding-bottom: 20px;
  }
  
  .navlink{
      text-align: left;
      color: white;
      font-size: 20px;
  }
  
  .navlink:hover {
      color: #171717;
      transform: translateX(10px);
  }
  
  .logoimg {
      width: 80%;
      margin: 25% auto 20px;
  }
  
  hr {
      height: 5px;
      border: 0;
      background-color: #9f9f9f;
      margin-left: 10px;
      margin-top: 10px !important;
      width: 50%;
  }