.search {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
    padding: 8px 20px;
}

.fitlogo
{
    margin-top:7% !important;
width: 90% !important;
}
.search-icon {
    width: 30px !important;
    margin-left: 5%;
    margin-right: 20px;
}

.searchBar{
    width: 90%;
    margin: auto;
}

.name-container{
border-radius: 25px;
height: 300px !important;
overflow: scroll !important;
}


.check-me-in-btn{
color:white !important;
}

.signout-btn {
    padding:1px !important;
    border:none !important;
    color:grey!important;
}